<?xml version="1.0"?>
<config>
    <modules>
        <AW_Ajaxlogin>
            <version>1.1.3</version><platform>ee</platform>
        </AW_Ajaxlogin>
    </modules>
    <global>
        <helpers>
            <ajaxlogin><class>AW_Ajaxlogin_Helper</class></ajaxlogin>
        </helpers>
        <models>
            <ajaxlogin>
                <class>AW_Ajaxlogin_Model</class>
                <resourceModel>ajaxlogin_resource</resourceModel>
            </ajaxlogin>
            <ajaxlogin_resource>
                <class>AW_Ajaxlogin_Model</class>
                <entities>
                    <account>
                        <table>aw_ajaxlogin_account</table>
                    </account>
                </entities>
            </ajaxlogin_resource>
        </models>
        <blocks>
            <ajaxlogin><class>AW_Ajaxlogin_Block</class></ajaxlogin>
        </blocks>
        <ajaxlogin>
            <authorization>
                <facebook>
                    <title>Facebook</title>
                    <model>ajaxlogin/authorizationFacebook</model>
                    <template>ajaxlogin/authorization.initButton.Facebook.phtml</template>
                    <thumbnail_image_path>ajaxlogin/facebook.png</thumbnail_image_path>
                    <config_path_enabled>ajaxlogin/login_with_facebook_account/allowed</config_path_enabled>
                </facebook>
                <linkedin>
                    <title>Linked In</title>
                    <model>ajaxlogin/authorizationLinkedin</model>
                    <template>ajaxlogin/authorization.initButton.LinkedIn.phtml</template>
                    <thumbnail_image_path>ajaxlogin/linkedin.png</thumbnail_image_path>
                    <config_path_enabled>ajaxlogin/login_with_linkedin_account/allowed</config_path_enabled>
                </linkedin>
                <google>
                    <title>Google</title>
                    <model>ajaxlogin/authorizationGoogle</model>
                    <template>ajaxlogin/authorization.initButton.Google.phtml</template>
                    <thumbnail_image_path>ajaxlogin/google.png</thumbnail_image_path>
                    <config_path_enabled>ajaxlogin/login_with_google_account/allowed</config_path_enabled>
                </google>
                <twitter>
                    <title>Twitter</title>
                    <model>ajaxlogin/authorizationTwitter</model>
                    <template>ajaxlogin/authorization.initButton.Twitter.phtml</template>
                    <thumbnail_image_path>ajaxlogin/twitter.png</thumbnail_image_path>
                    <config_path_enabled>ajaxlogin/login_with_twitter_account/allowed</config_path_enabled>
                </twitter>
                <amazon>
                    <title>Amazon</title>
                    <model>ajaxlogin/authorizationAmazon</model>
                    <template>ajaxlogin/authorization.initButton.Amazon.phtml</template>
                    <thumbnail_image_path>ajaxlogin/amazon.png</thumbnail_image_path>
                    <config_path_enabled>ajaxlogin/login_with_amazon_account/allowed</config_path_enabled>
                </amazon>
            </authorization>
        </ajaxlogin>
        <resources>
            <ajaxlogin_setup>
                <setup>
                    <module>AW_Ajaxlogin</module>
                </setup>
            </ajaxlogin_setup>
        </resources>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ajaxlogin>
                                            <title>Ajax Login (aheadWorks)</title>
                                        </ajaxlogin>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates><ajaxlogin><file>ajaxlogin.xml</file></ajaxlogin></updates>
        </layout>
        <translate>
            <modules>
                <AW_Ajaxlogin>
                    <files><default>AW_Ajaxlogin.csv</default></files>
                </AW_Ajaxlogin>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <ajaxlogin>
                <use>standard</use>
                <args>
                    <module>AW_Ajaxlogin</module>
                    <frontName>ajaxlogin</frontName>
                </args>
            </ajaxlogin>
        </routers>
        <layout>
            <updates><ajaxlogin><file>ajaxlogin.xml</file></ajaxlogin></updates>
        </layout>
        <translate>
            <modules>
                <AW_Ajaxlogin>
                    <files><default>AW_Ajaxlogin.csv</default></files>
                </AW_Ajaxlogin>
            </modules>
        </translate>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <ajaxlogin>
                        <class>ajaxlogin/observer</class>
                        <method>controllerActionLayoutLoadBefore</method>
                    </ajaxlogin>
                </observers>
            </controller_action_layout_load_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <ajaxlogin>
                        <class>ajaxlogin/observer</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </ajaxlogin>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
    <default>
        <ajaxlogin>
            <general>
                <module_enabled>0</module_enabled>
            </general>
            <login_form>
                <login_success_landing_page>{base_url}customer/account/</login_success_landing_page>
                <logout_success_landing_page>{base_url}</logout_success_landing_page>
            </login_form>
            <registration_form>
                <display_newsletter_subscription_section>1</display_newsletter_subscription_section>
                <display_terms_and_conditions>0</display_terms_and_conditions>
                <success_landing_page>{base_url}customer/account/</success_landing_page>
            </registration_form>
            <password_recovery_form>
                <success_landing_page></success_landing_page>
            </password_recovery_form>
            <login_with_facebook_account>
                <allowed>0</allowed>
                <application_id></application_id>
                <application_secret></application_secret>
            </login_with_facebook_account>
            <login_with_twitter_account>
                <allowed>0</allowed>
                <consumer_key></consumer_key>
                <consumer_secret></consumer_secret>
            </login_with_twitter_account>
            <login_with_linkedin_account>
                <allowed>0</allowed>
                <api_key></api_key>
                <secret_key></secret_key>
            </login_with_linkedin_account>
            <login_with_google_account>
                <allowed>0</allowed>
                <client_id></client_id>
                <client_secret></client_secret>
            </login_with_google_account>
        </ajaxlogin>
    </default>
</config>