<?xml version="1.0"?>
<config>
    <tabs>
        <awall translate="label">
            <label>aheadWorks Extensions</label>
            <sort_order>300</sort_order>
        </awall>
    </tabs>
    <sections>
        <ajaxlogin translate="label" module="ajaxlogin">
            <label>Ajax Login</label>
            <tab>awall</tab>
            <frontend_type>text</frontend_type>
            <sort_order>50</sort_order>
            <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="ajaxlogin">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
                    <fields>
                        <module_enabled translate="label" module="ajaxlogin">
                            <label>Enable Extension</label>
                            <show_in_default>1</show_in_default><show_in_website>0</show_in_website><show_in_store>0</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                        </module_enabled>
                    </fields>
                </general>
                <login_form translate="label" module="ajaxlogin">
                    <label>Login form</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
                    <fields>
                        <login_success_landing_page translate="label comment" module="ajaxlogin">
                            <label>Login Success Page</label>
                            <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
                            <frontend_type>select</frontend_type>
                            <frontend_model>ajaxlogin/adminhtmlSystemConfigFieldLanding</frontend_model>
                            <source_model>ajaxlogin/adminhtmlSystemConfigSourceLanding</source_model>
                            <sort_order>10</sort_order>
                            <comment>Use {base_url} or {base_url_secure} variable to specify the Base Url of the store. Example: "{base_url}customer/account/"</comment>
                        </login_success_landing_page>
                        <logout_success_landing_page translate="label comment" module="ajaxlogin">
                            <label>Logout Success Page</label>
                            <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
                            <frontend_type>select</frontend_type>
                            <frontend_model>ajaxlogin/adminhtmlSystemConfigFieldLanding</frontend_model>
                            <source_model>ajaxlogin/adminhtmlSystemConfigSourceLanding</source_model>
                            <sort_order>20</sort_order>
                            <comment>Use {base_url} or {base_url_secure} variable to specify the Base Url of the store. Example: "{base_url}customer/account/"</comment>
                        </logout_success_landing_page>
                    </fields>
                </login_form>
                <registration_form translate="label" module="ajaxlogin">
                    <label>Registration form</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>300</sort_order>
                    <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
                    <fields>
                        <display_newsletter_subscription_section translate="label" module="ajaxlogin">
                            <label>Display Newsletter Subscription Section</label>
                            <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                        </display_newsletter_subscription_section>
                        <display_terms_and_conditions translate="label" module="ajaxlogin">
                            <label>Display Terms and Conditions</label>
                            <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                        </display_terms_and_conditions>
                        <success_landing_page translate="label comment" module="ajaxlogin">
                            <label>Registration Success Page</label>
                            <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
                            <frontend_type>select</frontend_type>
                            <frontend_model>ajaxlogin/adminhtmlSystemConfigFieldLanding</frontend_model>
                            <source_model>ajaxlogin/adminhtmlSystemConfigSourceLanding</source_model>
                            <sort_order>30</sort_order>
                            <comment>Use {base_url} or {base_url_secure} variable to specify the Base Url of the store. Example: "{base_url}customer/account/"</comment>
                        </success_landing_page>
                    </fields>
                </registration_form>
                <password_recovery_form translate="label" module="ajaxlogin">
                    <label>Password Recovery form</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>400</sort_order>
                    <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
                    <fields>
                        <success_landing_page translate="label comment" module="ajaxlogin">
                            <label>Password Request Success Page</label>
                            <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
                            <frontend_type>select</frontend_type>
                            <frontend_model>ajaxlogin/adminhtmlSystemConfigFieldLanding</frontend_model>
                            <source_model>ajaxlogin/adminhtmlSystemConfigSourceLanding</source_model>
                            <sort_order>10</sort_order>
                            <comment>Use {base_url} or {base_url_secure} variable to specify the Base Url of the store. Example: "{base_url}customer/account/"</comment>
                        </success_landing_page>
                    </fields>
                </password_recovery_form>
                <login_with_facebook_account translate="label" module="ajaxlogin">
                    <label>Login with Facebook Account</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>500</sort_order>
                    <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
                    <fields>
                        <allowed translate="label" module="ajaxlogin">
                            <label>Allow Authorization with Facebook Account</label>
                            <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                        </allowed>
                        <application_id translate="label" module="ajaxlogin">
                            <label>Application ID</label>
                            <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>0</show_in_store>
                            <frontend_type>text</frontend_type>
                            <frontend_model>ajaxlogin/adminhtmlSystemConfigFieldHint</frontend_model>
                            <hint_template>ajaxlogin/optionHint.Facebook.phtml</hint_template>
                            <comment>{hint_link}</comment>
                            <sort_order>20</sort_order>
                        </application_id>
                        <application_secret translate="label" module="ajaxlogin">
                            <label>Application Secret</label>
                            <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>0</show_in_store>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                        </application_secret>
                    </fields>
                </login_with_facebook_account>
                <login_with_linkedin_account translate="label" module="ajaxlogin">
                    <label>Login with LinkedIn Account</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>700</sort_order>
                    <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
                    <fields>
                        <allowed translate="label" module="ajaxlogin">
                            <label>Allow Authorization with LinkedIn Account</label>
                            <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                        </allowed>
                        <api_key translate="label" module="ajaxlogin">
                            <label>API Key</label>
                            <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>0</show_in_store>
                            <frontend_type>text</frontend_type>
                            <frontend_model>ajaxlogin/adminhtmlSystemConfigFieldHint</frontend_model>
                            <hint_template>ajaxlogin/optionHint.LinkedIn.phtml</hint_template>
                            <comment>{hint_link}</comment>
                            <sort_order>20</sort_order>
                        </api_key>
                        <secret_key translate="label" module="ajaxlogin">
                            <label>Secret Key</label>
                            <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>0</show_in_store>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                        </secret_key>
                    </fields>
                </login_with_linkedin_account>
                <login_with_google_account translate="label" module="ajaxlogin">
                    <label>Login with Google Account</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>800</sort_order>
                    <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
                    <fields>
                        <allowed translate="label" module="ajaxlogin">
                            <label>Allow Authorization with Google Account</label>
                            <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                        </allowed>
                        <client_id translate="label" module="ajaxlogin">
                            <label>Client ID</label>
                            <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>0</show_in_store>
                            <frontend_type>text</frontend_type>
                            <frontend_model>ajaxlogin/adminhtmlSystemConfigFieldHint</frontend_model>
                            <hint_template>ajaxlogin/optionHint.Google.phtml</hint_template>
                            <comment>{hint_link}</comment>
                            <sort_order>20</sort_order>
                        </client_id>
                        <client_secret translate="label" module="ajaxlogin">
                            <label>Client Secret</label>
                            <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>0</show_in_store>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                        </client_secret>
                    </fields>
                </login_with_google_account>
                <login_with_twitter_account translate="label" module="ajaxlogin">
                    <label>Login with Twitter Account</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>600</sort_order>
                    <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
                    <fields>
                        <allowed translate="label" module="ajaxlogin">
                            <label>Allow Authorization with Twitter Account</label>
                            <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                        </allowed>
                        <consumer_key translate="label" module="ajaxlogin">
                            <label>Consumer Key</label>
                            <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>0</show_in_store>
                            <frontend_type>text</frontend_type>
                            <frontend_model>ajaxlogin/adminhtmlSystemConfigFieldHint</frontend_model>
                            <hint_template>ajaxlogin/optionHint.Twitter.phtml</hint_template>
                            <comment>{hint_link}</comment>
                            <sort_order>20</sort_order>
                        </consumer_key>
                        <consumer_secret translate="label" module="ajaxlogin">
                            <label>Consumer Secret</label>
                            <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>0</show_in_store>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                        </consumer_secret>
                    </fields>
                </login_with_twitter_account>
                <login_with_amazon_account translate="label" module="ajaxlogin">
                    <label>Login with Amazon Account</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>900</sort_order>
                    <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
                    <fields>
                        <allowed translate="label" module="ajaxlogin">
                            <label>Allow Authorization with Amazon Account</label>
                            <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                        </allowed>
                        <client_id translate="label" module="ajaxlogin">
                            <label>Client ID</label>
                            <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>0</show_in_store>
                            <frontend_type>text</frontend_type>
                            <frontend_model>ajaxlogin/adminhtmlSystemConfigFieldHint</frontend_model>
                            <hint_template>ajaxlogin/optionHint.Amazon.phtml</hint_template>
                            <comment>{hint_link}</comment>
                            <sort_order>20</sort_order>
                        </client_id>
                        <client_secret translate="label" module="ajaxlogin">
                            <label>Client Secret</label>
                            <show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>0</show_in_store>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                        </client_secret>
                    </fields>
                </login_with_amazon_account>
            </groups>
        </ajaxlogin>
    </sections>
</config>